@import url("https://use.typekit.net/sia7taz.css");

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
    background-color: black;
    border-radius: 5px;
}

.cell:hover{
    cursor: pointer;
    background-color: rgba(231, 231, 231, 0.904)
}



.cell.playerX,
.cell.playerO {
  cursor: not-allowed;
}

.grid.playerX .cell:not(.playerX):not(.playerO):hover::before,
.grid.playerX .cell:not(.playerX):not(.playerO):hover::after,
.grid.playerO .cell:not(.playerX):not(.playerO):hover::before {
  background-color: green;
}


div {
    width: 200px;
    height: 200px;
    background-color:white;
    margin-bottom: 5px;
}

.playerX {
background-image: url(images/Xicon.png);
}

.playerO{
background-image: url(images/Oicon.png);
}

body{
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: red;
  font-family: arpona, sans-serif;
  font-size: xx-large;
  border-radius: 5%;
  color: white;
}

h3{
  text-align: center;

}
button {
  background-color: red;
  color: white; 
  padding: 20px 10px;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  max-width: 200px;
  font-size: larger;
  border: 0 0 ;
  font-family: arpona;
}

button:hover {
  background-color:rgba(255, 173, 173, 0.835);
  transform: scale(.7);
  transition: ease-in 0.3s;
}


.winning-msg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  
  .winning-msg button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .winning-msg button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .winning-msg.show {
    display: flex;
  }